body {
    background-color: lightgreen;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    background-color: antiquewhite;
    width: 98%;
    padding: 1%;
    display: flex;
    flex-wrap: row wrap;

    h1 {
        font-size: 3vw;
        color: green;
        width: 100%;
    }

    a {
        font-size: 1vw;
        color: green;
    }
}